main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 16pt;
}

main .title {
    font-style: italic;
}

label {
    vertical-align: top;
    width: 7em;
}

input {
    width: 15em;
}

textarea {
    width: 15em;
    height: 7em;
}
